<div>
    <h3>Enjoy reading and feel free to leave a comment</h3>
    {{> singleBlog}}
    {{> addComment}}
</div>

<div class="col-md-6 card">
    <h3>Update Blog:</h3>

    <form class="form new-comment-form" action="/api/comments" method="POST">
        <input type="hidden" name="blogID" value="{{id}}" />
        {{id}} blog
        <div class="form-group">
            <label form="comment-remark">comment:</label>
            <input class="form-input" type="text" id="comment-remark" name="remark" />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit Blog</button>
        </div>
    </form>
</div>

<script src="/js/comments.js"></script>