<div>
    <h3>List of Blogs</h3>
        {{#each blogs}}
         <div class="home-card">
        <h2>{{heading}}</h2>
        <div>
        <h3>By: {{user.name}}</h3>
        <p>{{createdAt}}</p>
        </div>
        <h3>Content</h3>
        <p>{{content}}</p>
    </div>
    {{/each}}
</div>