
    <div>
        <h3>Review your blog:</h3>
        {{> singleBlog}}
    </div>

    <div class="col-md-6 card">
        <h3>Update Blog:</h3>

        <form class="form update-blog-form" action="/api/blogs" method="PUT">
           <input type="hidden" name="blogID" value="{{id}}"/>
            <div class="form-group">
                <label form="blog-heading">heading:</label>
                <input class="form-input" type="text" id="blog-heading" name="heading" />
            </div>
            <div>
                <div>{{user.name}}
                    {{format_date createdAt}}</div>
            </div>
            <div class="form-group">
                <label for="blog-content">content:</label>
                <input class="form-input" type="text" id="blog-content" name="content" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Update Blog</button>
            </div>
        </form>
    </div>


<script src="/js/update.js"></script>



