* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Banner Styles */
.banner {
  background-color: #4800d9;
  color: #FFF;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.banner h1 {
  font-size: 2em;
  margin-bottom: 10px;
  text-decoration: none !important;
  /* Remove underline */
  color: rgb(255, 255, 255);
  /* Inherit color from parent (.banner) */
}

.navbar {
  display: flex;
  flex-wrap: wrap;

}

.navbar button {
  color: #FFF; /* Adjust text color for better visibility */
  text-decoration: none;
  margin: 0 5px;
  font-size: .9em;
  font-weight: 600;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #c40e0e;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6); /* Adjust shadow for 3D effect */
  transition: background-color 0.3s ease, transform 0.2s ease;
  cursor: pointer;
}

.navbar button:hover {
  background-color: #991111; /* Adjust hover color */
  transform: translateY(-2px); /* Add a slight lift on hover */
}

/* Responsive Design */
@media (max-width: 768px) {
  .no-button {
    padding: 5px 5px; /* Adjust padding for smaller screens */
  }
}

/* ---------------------------------------------------- */
.center-card {
  width: 100%;
  max-width: 500px;
  border: 0.25px solid #000;
  border-radius: 8px;
  padding: 16px;
  margin: 1rem auto; /* Center horizontally using margin: auto */
}
/* ---------------------------------------------------- */
.center {
  width: 100%;
  max-width: 500px;
  padding: 16px;
  margin: 1rem auto; /* Center horizontally using margin: auto */
}
/* ---------------------------------------------------- */
.heading {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  color:#777;
}
/* ---------------------------------------------------- */

.body {
  font-family: Arial, Helvetica, sans-serif;
}
.body h1 {

  color: red;
  font-size: 2em;
}
.body h2 {
  font-size: 1.75em;
}

.body h3 {
  font-size: 1em;
  font-weight: 300;
}

.body h4 {
  font-size: .75em;
  font-weight: 300;
}
